{% extends 'blog/base.html' %}
{% load static %}
{% block content %} 
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Totam sapiente neque provident tempora, voluptatem rerum 
         illum fugit praesentium rem natus odit distinctio, assumenda 
         ducimus consectetur repellat nemo, consequatur et. Doloremque
          natus odio quos repellat ut,  officiis non ipsum quo ratione autem,
           aspernatur animi, illo saepe assumenda tenetur atque sint? Accusamus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Corporis nihil reiciendis soluta asperiores iure voluptate
         totam unde, quod placeat, nam corrupti earum labore excepturi libero. 
         Harum exercitationem illo reiciendis enim.</p>
</div>
{% endblock content %} 